Recipes new
<%= form_for recipe_form, url: recipes_path do |f| %>
	<%= f.label :name %>
	<p><%= f.text_field :name %></p>
	<%= f.label :description %>
	<p><%= f.text_area :description %></p>
	<%= f.label "Process description" %>
	<p><%= f.text_field :process_desc %></p>
	<%= f.label :style_id %>
	<p><%= select_tag "recipe_form[style_id]", options_from_collection_for_select(styles, :id, :name) %></p>
	<%= f.submit "Create Recipe" %>
<% end %>
