<h1>Add Recipe</h1>
<%= form_for recipe_form, url: recipes_path do |f| %>
	<p><%= f.text_field :name, placeholder: "Name" %></p>
	<p><%= f.text_area :description, placeholder: "Description", cols: 33 %></p>
	<p><%= f.text_area :process_desc, placeholder: "Process description", cols: 33 %></p>
	<p>Style: <%= select_tag "recipe_form[style_id]", options_from_collection_for_select(styles, :id, :name) %></p>
	<%= f.submit "Create Recipe", class: "btn btn-primary btn-sm" %>
<% end %>
