Recipes new
<%= form_for @recipe, :method => "POST"  do |f| %>
	<%= f.label :name %>:
  	<%= f.text_field :name %><br />
  	<%= f.label :description %>
  	<%= f.text_area(:description, :size => "50x10") %>
  	<br/ >
  	<%= f.label :style %>
  	<select name="recipe[style_id]">
  		<% @styles.each do |s| %>
  			<%= raw "<option value=\"#{s.id}\">#{s.name}</option>" %>
  		<% end %> 		
  	</select>
  	<br />
  	<%= f.label :process_desc %>
  	<%= f.text_area(:process_desc, :size => "50x10") %>
  	<%= f.submit %>
<% end %>