<h1><%= @recipe.name %></h1>
<p>
  <%= @recipe.style.name %>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_recipe_path(@recipe) %>
  <% end %>
</p>
<h2>Ingredients</h2>
<table>
	<thead>
		<th>Nazwa</th>
		<th>Ilość</th>
	</thead>
	<tbody>
		<% @ingredients.each do |i| %>
			<tr>
				<td><%= i.ingredient.name %></td>
				<td><%= i.quantity %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<h2>Description</h2>
<p><%= @recipe.description %>
<h2>Process description</h2>
<p><%= @recipe.process_desc %></p>